# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local
.env.*.local

# Virtual environments
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Docker
*.override.yml
node_modules/
test-results/
playwright-report/
