<div id="radon-resources" class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Radon Resources</h5>
    <ul class="list-unstyled">
      <li class="pb-2"><a href="/what-is-radon/">What is Radon?</a></li>
      <li class="pb-2"><a href="https://odh.ohio.gov/know-our-programs/radon-education-and-licensing-program/welcome" rel="noopener" target="_blank">Ohio Dept. of Health Radon Program</a></li>
      <li class="pb-2"><a href="https://www.epa.gov/radon" rel="noopener" target="_blank">US EPA Radon</a></li>
      <li class="pb-2"><a href="https://ohio.radon.com/" rel="noopener" target="_blank">Free Radon Test Kits for Ohio</a></li>
    </ul>
    <h5>Local Radon Levels</h5>
    <ul class="list-unstyled">
      <li class="pb-2"><a href="/state/ohio/">Ohio County Radon Map</a></li>
      <li class="pb-2"><a href="/city/columbus/">Columbus, Ohio</a></li>
      <li class="pb-2"><a href="/city/cleveland/">Cleveland, Ohio</a></li>
      <li class="pb-2"><a href="/city/cincinnati/">Cincinnati, Ohio</a></li>
      <li class="pb-2"><a href="/city/dayton/">Dayton, Ohio</a></li>
    </ul>
    <a href="/contractors/" class="btn btn-danger btn-block btn-sm mt-2">Find a Radon Contractor</a>
    <a href="/testers/" class="btn btn-outline-danger btn-block btn-sm mt-1">Find a Radon Tester</a>
  </div>
</div>
